/* You can add global styles to this file, and also import other style files */
body{
    font-family: sans-serif;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

.form-input{

    color: #3c7ba8;
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid  #3c7ba8 ;


}

.form-button{

    color: #3c7ba8;
    height: 39px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid  #020c13 ;


}

.common-form{

    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.message-p{
    color: green;
    text-align: center;
}

.carousel-caption{
    background-color: #00000082;
    border-radius: 5px;
} 

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: black;
    border: 5px;
}

.invalid-input{
    color:Red;
    margin-top: 5px;
    font-size: 15px;

}

button:disabled{
    cursor: not-allowed;
}

.max-width{
    width: 100%;
}

